:host {
  font-family: Jaldi;
  position: fixed;
  z-index: 1000;
  padding: 1.4rem 2.4rem;
  display: flex;
  align-items: center;
  width: 100%;
}
#greyson-sawyer-text {
  font-size: 1.4rem;
}

#greyson-sawyer-text.dark-text {
  color: rgba(0, 0, 0, 0.87);
  transition: 500ms;
}

.spacer {
  flex-grow: 1;
}

.nav-btn {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);

}

.nav-btn.dark-text {
  color: rgba(0, 0, 0, 0.4);
  transition: 500ms;
 
}

.nav-btn:nth-of-type(1) {
  /* color: orange; */
  margin-right: 2.4rem;
}

.active {
  color: rgba(255, 255, 255, 0.87);
}

.active.dark-text {
  color: rgba(0, 0, 0, 0.87);
 
}

@media (max-width: 880px) {
  #greyson-sawyer-text {
    font-size: 1.3rem;
  }
}
