<div class="page">
  <div class="video-container">
    <video #heroVideo autoplay muted playsinline loop width="100%">
      <source [src]="page.videoSrc" [type]="page.videoType" />
    </video>
    <div class="title-container">
      <h2 class="video-title">{{ page.title }}</h2>
      <!-- <p class="shot-by">SHOT BY</p> -->
      <a [href]="page.creatorLink" target="_blank" class="creator-link">{{
        page.shotBy
      }}</a>
    </div>
  </div>

  <div
    *ngFor="let image of page.images"
    class="image"
    parallax
    [style.backgroundImage]="'url(' + image + ')'"
  ></div>
</div>

<!-- <div
*ngFor="let image of page.images"
class="image"
parallax
[ngStyle]="{background: 'url(' + 'https://picsum.photos/1920/1080' + ') no-repeat center'}"
></div> -->
