:host {
  width: 100%;
  position: relative;
  padding: 0.5rem 0 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;
}

.video-container {
  position: relative;
  background-color: white;
  /* margin-bottom: -0.25rem; */
}

video {
  /* pointer-events: none; */
  width: 100%;
  height: auto;
  /* background: rgb(67, 0, 6); */

  min-height: calc((100vw - 24px) / (16 / 9));
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;

  z-index: 10;

  transform: translate(-50%, -50%);
  /* opacity: 0.5; */
}

.video-title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -2px;
  margin-bottom: 0.125rem;
  text-align: center;
  text-transform: uppercase;
}

/* .shot-by {
  font-family: 'Jaldi';
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-align: center;
  margin-bottom: -1px;
} */

.creator-link {
  font-family: 'Karla';
  font-weight: 300;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.78);
  text-align: center;
  margin-right: 0px;
  text-decoration: none;
}

.image {
  /* background: url('https://picsum.photos/1920/1080') no-repeat center; */
  width: 100%;
  height: 30vmin;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: 0ms;
}

@media only screen and (min-width: 1440px) {
  .page {
  }

  .image {
  }
}

/* @media only screen and (max-width: 1800px) {
  .page {
    grid-auto-rows: minmax(18vw, auto);
    grid-template-columns: repeat(auto-fill, minmax(900px, auto));
    gap: 0.5rem;

  }
  .video-container {
    grid-row: 1/2;
  }

}

@media only screen and (max-width: 880px) {
  .page {
    display: flex;
    flex-direction: column;
    grid-auto-rows: unset;
    grid-template-columns: unset;
    gap: unset;
    place-content: unset;
    height: 100%;
    width: 100%;
    align-items: stretch;
  }

  .image {
    width: 100%;
    height: 30vw;
    margin-top: 0.5rem;
  }


} */
