:host {
  color: rgba(0, 0, 0, 0.87);

  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 0.28rem;
}

.text {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Jaldi';
  font-size: 1rem;
}
